<form method="POST" action="/view">
    <div class="mb-3">
        <label for="teams" class="form-label">Team names</label>
        <input type="text" class="form-control" id="teams" name="teams" placeholder="Team names, comma separated">
    </div>
    <div class="mb-3">
        <label for="dates" class="form-label">Available dates</label>
        <input type="text" class="form-control" id="dates" name="dates" placeholder="Date/times, comma separated">
    </div>
    <div class="mb-3">
        <label for="locations" class="form-label">Locations</label>
        <input type="text" class="form-control" id="locations" name="locations" placeholder="Locations, comma separated">
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>